project_name     = "your-project-name"
domain_name      = "your-domain.com"
hosted_zone_name = "your-domain.com."
aws_region       = "your-aws-region"
github_repo      = "your-github-username/your-repo-name"
github_branch    = "main"
