project_name     = "your-project-name"
domain_name      = "your-domain.com"
hosted_zone_name = "your-domain.com."
aws_region       = "your-aws-region"
private_bucket_name = "zhenwei-private-bucket"
presign_reader_role_arns = []
uploader_role_arns = []
github_repo      = "your-github-username/your-repo-name"
github_branch    = "main"
google_site_verification_txt = ""
